* {
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

#items{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}
.piece {
    height: 100px;
    width: 100px;
    color: green;
    border-style: solid;
    border-color: white;
}

h1{
    font-size: 60pt;
}